<!-- carousel -->
  <div id="carousel-example-generic" class="carousel slide carousel-fade">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active">
      </li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <!-- First slide -->
      <div class="item active">
          <!--Video-->
                <div class="homepage-hero-module">
                    <video autoplay loop class="fillWidth">
                        <source src="{{=URL('static', 'images/sus1.mp4')}}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                    </video>
                </div>
          <!--/.Video-->
        <div class="carousel-caption">
          <div data-animation="animated fadeInRightBig">
            <h2 class="h2-responsive">Tailgate Tournaments</h2>
            <h4 class="h4-responsive">Quickly organize and host your own casual tournaments!</h4>
          </div>
        </div>
      </div>
      <!-- /.item -->

      <!-- Second slide -->

      <div class="item">
                            <!--Video-->
                <div class="homepage-hero-module">
                    <video autoplay loop class="fillWidth">
                        <source src="{{=URL('static', 'images/sus2.mp4')}}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                    </video>
                </div>
          <!--/.Video-->
        <div class="carousel-caption">
          <div data-animation="animated fadeInDownBig">
            <h2 class="h2-responsive">Host your own</h2>
            <h4 class="h4-responsive">Charity Kickball Tournaments, Dorm Room Beer Pong, etc.</h4>
          </div>
        </div>
      </div>
      <!-- /.item -->

      <!-- Third slide -->

      <div class="item">
                            <!--Video-->
                <div class="homepage-hero-module">
                    <video autoplay loop class="fillWidth">
                        <source src="http://mdbootstrap.com/images/video/Nature-Sunset.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
                    </video>
                </div>
          <!--/.Video-->
        <div class="carousel-caption">
          <div data-animation="animated fadeInLeftBig">
            <h2 class="h2-responsive">Coming Soon</h2>
            <h4 class="h4-responsive">Support for Leagues, Franchises, etc.</h4>
          </div>
        </div>
      </div>
      <!-- /.item -->

    </div>
    <!-- /.carousel-inner -->

    <!-- Controls -->
    <a class="left carousel-control new-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="fa fa fa-angle-left waves-effect waves-light"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control new-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="fa fa fa-angle-right waves-effect waves-light"></span>
      <span class="sr-only">Previous</span>
    </a>

  </div>
  <!-- /.carousel -->
