{{extend 'layout.html'}}

<div class="row">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Create Team
    </button>
</div>

<div class="row">
    <div class="collapse" id="collapseExample">
        {{=form}}
    </div>
</div>
