html,
body {
    height: 100%;
}

.carousel {
    height: 80%;
    /*margin-top: -20px;*/
}

.navbar {
    z-index: 10;
}

.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(2) {
    background-image: url(../img/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(3) {
    background-image: url(../img/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-content {
    margin-top: 40px;
    margin-bottom: 40px;
}




/*********************
  FOOTER
**********************/

footer.page-footer {
    margin-top: 0;
}


footer.page-footer {
  margin-top: 0;
  background-color: #879592;
}

footer.page-footer a {
line-height: 25px;
}

footer.page-footer a {
color: #fff;
font-size: 15px;
}

/*********************
  NAVIGATION
**********************/
.navbar {
  /*background-color: transparent !important;*/
  background: rgba(155, 168, 165, .25) !important;
}

.top-nav-collapse {
  background-color: #85ADA5 !important;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #85ADA5 !important;
  }
}


/*********************
  TEMPLATE COLORS
**********************/
.pt-color {
  background-color: #1C2331 !important;
}

.st-color {
  background-color: #4D5668 !important;
}

.et-color {
  background-color: #3F729B !important;
}

.btn-ptc {
  background-color: #1C2331 !important;
}

.btn-ptc:hover {
  background-color: #2f3a51 !important;
}

.btn-ptc:focus {
  background-color: #2f3a51 !important;
}

.btn-stc {
  background-color: #4D5668 !important;
}

.btn-stc:hover {
  background-color: #636e85 !important;
}

.btn-stc:focus {
  background-color: #636e85 !important;
}

.btn-etc {
  background-color: #3F729B !important;
}

.btn-etc:hover {
  background-color: #548cb9 !important;
}

.btn-etc:focus {
  background-color: #548cb9 !important;
}

.fb-bg {
  background-color: #3B5998;
}

.tw-bg {
  background-color: #55ACEE;
}

.gplus-bg {
  background-color: #DD4B39;
}
