{{extend 'layout.html'}}
{{include 'web2py_ajax.html'}}


<h3>{{=A(t.name, _href=URL('tournament', 'view', args=[t.id]))}}</h3>
<h4>Round if Rounds - Game Number</h4>
<div class='row' id="score">
        <table class='table'>
            <tr>
                <td> {{=g.away.name}} </td>
                <td> vs. </td>
                <td> {{=g.home.name}} </td>
            </tr>
            <tr>
                <td> <div id='away_score'>{{=g.away_score}}</div> </td>
                <td> &nbsp; </td>
                <td> <div id='home_score'>{{=g.home_score}}</div> </td>
            </tr>
            <tr>
                <td>
                    <a id='away_button' class="btn btn-default {{='disabled' if not allowed else ""}}" href="#" role="button"> ^^^ + ^^^ </a>
                </td>
                <td>

                </td>
                <td>
                    <a id='home_button' class="btn btn-default {{='disabled' if not allowed else ""}}" href="#" role="button"> ^^^ + ^^^ </a>
                </td>
            </tr>
        </table>
</div>

<div id='control' class='row'>
    {{=b}}
</div>

<script>
    $(document).ready(function(){

        $('#away_button').click(function() {
            var away_link = "{{=URL('game', 'away_score.load', args=[g.id])}}" + "/" + $('#away_score').text();
            console.log(away_link);
            web2py_component(away_link, target='away_score');
        });

        $('#home_button').click(function() {
            var home_link = "{{=URL('game', 'home_score.load', args=[g.id])}}" + "/" + $('#home_score').text();
            console.log(home_link);
            web2py_component(home_link, target='home_score');
        });
    });
</script>