{{extend 'layout2.html'}}
{{games = t.games}}

<style type="text/css">
    td.winner{
        font-weight: bold;
        background-color: lightgreen;
}
</style>


<h3>In Progress</h3>
<table id='in_progress' class='table'>
{{
for game in games:
    g = Game(game.id)
    if g.started and not g.finished:
    w = g.getWinner()
}}

<tr>
    <td class='{{='success' if w == g.away.id else None}}'>{{=LOAD('team', 'badge.load', args=[g.away.id])}}</td>
    <td class='{{='success' if w == g.away.id else None}}'>{{=g.away_score}}</td>
    <td>@</td>
    <td class='{{='success' if w == g.home.id else None}}'>{{=g.home_score}}</td>
    <td class='{{='success' if w == g.home.id else None}}'>{{=LOAD('team', 'badge.load', args=[g.home.id])}}</td>
</tr>
{{pass}}
{{pass}}
</table>

<hr>

<h3>Up Next</h3>
<table id='up_next' class='table'>
{{
for game in games:
    g = Game(game.id)
    if not g.started and not g.finished:
}}

<tr>
    <td>{{=g.away.name}}</td>
    <td>{{=g.away_score}}</td>
    <td>@</td>
    <td>{{=g.home_score}}</td>
    <td>{{=g.home.name}}</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>{{=A('Start Game', _href=URL('game', 'start.html', args=[g.id]), _class='btn btn-default', _role='button')}}</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
</tr>
{{pass}}
{{pass}}
</table>
{{if len(t.teams) > 2:}}
<div id="on_deck">On Deck: {{=t.next_team(2).name}}</div>
{{pass}}
<hr>

<h3>Completed</h3>
<table id='completed' class='table'>
{{
for game in reversed(games):
    g = Game(game.id)
    if g.finished:
    w = g.getWinner()
}}

<tr>
    <td class='{{='success' if w == g.away.id else None}}'>{{=LOAD('team', 'badge.load', args=[g.away.id])}}</td>
    <td class='{{='success' if w == g.away.id else None}}'>{{=g.away_score}}</td>
    <td>@</td>
    <td class='{{='success' if w == g.home.id else None}}'>{{=g.home_score}}</td>
    <td class='{{='success' if w == g.home.id else None}}'>{{=LOAD('team', 'badge.load', args=[g.home.id])}}</td>
</tr>
{{pass}}
{{pass}}
</table>