{{extend 'layout.html'}}

<div class="row">
    {{=form}}
</div>

<div class="row"><hr></div>

<div class="row">
    <h1>Upcoming and Nearby Tournaments</h1>
    <table class="table">
    {{ for t in ts: }}
        <tr>
            <td> {{=A(t.name, _href=URL('tournament', 'view', args=[t.id], extension='html'))}} </td>
            <td> <a class="btn btn-default" href="{{=URL('tournament', 'join', vars={'id': t.id}, extension='html')}}" role="button">Join !</a> </td>
        </tr>
    {{ pass }}
    </table>
</div>