{{right_sidebar_enabled=True}}
{{extend 'layout2.html'}}
    <h1>{{=tournament.name}}</h1>
    <hr>
    <h3>Invite your friends with this code: {{=A(tournament.code, _href=URL('tournament', 'join', args=[tournament.code]))}}</h3>
    <hr>
    {{=A('Add Fake Team', _href=URL('test', 'addFakeTeam', args=[request.args(0)]), _class='btn btn-default', _role='button')}}
    {{ if not tournament.started:
    =A('Start Tourney', _href=URL('tournament', 'start', args=[request.args(0)]), _class='btn btn-default', _role='button')
    pass}}

    <hr>
    {{#=LOAD('team', 'create.load', args=[request.args(0)], ajax_trap=True)}}

    {{=LOAD('tournament', 'games.load', args=[request.args(0)], ajax=True)}}

{{block right_sidebar}}
    {{=LOAD('tournament', 'standings.load', args=[request.args(0)], ajax=True)}}
    <hr>
    {{=LOAD('tournament', 'teams.load', args=[request.args(0)], ajax=True)}}
{{end}}
